/* HOME PAGE */

.homebutton {
  text-decoration: none;
  font-size: 1.5em;
  color: #F1E6C7;
}

.homemain {
  text-align: center;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.hometekst {
  position: absolute;
  left: 46%;
  top: 50%;
}
 .login main {
   text-align: center;
 }

.checkmark1 {
  background: url(../img/Archdeacon-royce.jpg);
  background-size: cover;
  background-position: center;
  padding: 2%;
  margin-right: 2%;
}

.checkmark2 {
  background: url(../img/maxresdefault.jpg);
  background-size: cover;
  background-position: center;
  padding: 2%;
}

.radiocontainer input {
  display: none;
  marg
}

.radiocontainer input:checked ~ .checkmark {
  border: 2px solid white;
}
