/* HOME PAGE */
.homebutton {
  text-decoration: none;
  font-size: 1.5em;
  color: #F1E6C7;
}

.homemain {
  text-align: center;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.hometekst {
  position: absolute;
  left: 46%;
  top: 50%;
}

.login form p {
  color: red;
}

/* update and register image picker */
.pickercontainer {
  position: relative;
  cursor: pointer;
  margin-left: 1%;
}

.checkmark {
  padding: 3% 3.5%;
}

.pickercontainer input:checked~.checkmark {
  border: 2px solid white;
}

#img1 {
  background-image: url("../img/Archdeacon-royce2.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#img2 {
  background-image: url("../img/maxresdefault2.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#img3 {
  background-image: url("../img/images2.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.pickercontainer input {
  position: absolute;
  display: none;
}

.radiobuttons {
  margin: 5% 0%;
}
