
<head>
  <meta charset="utf-8">
  <title><%- title %></title>
  <link rel="stylesheet" href="css/style.css">
</head>

<footer>
<p>Dark Souls™ III & ©2016 BAINDAI NAMCO Entertainment Inc. / ©2011-2016 FromSoftware. Inc.</p>
</footer>
