<head>
  <meta charset="utf-8">
  <title><%- title %></title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/main.css">
</head>

<header>
  <img class="banner" src="img/dark-souls-3.png" alt="">
  <nav>
    <a class="toplink" href=""></a>
  </nav>
</header>
