<head>
  <meta charset="utf-8">
  <title><%- title %></title>
  <link rel="stylesheet" href="static/css/style.css">
</head>

<header>
  <nav>
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </nav>
  <h2> <%- kutzooi %> </h2>
</header>
