<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title><%- title %></title>
</head>

<body>
  <%- include ('../main/header'); %>
  <main>
    <%- include ('../main/user'); %>
  </main>
  <%- include ('../main/footer'); %>
</body>

</html>
