<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title><%- title %></title>
</head>

<body>
  <%- include ('../main/header'); %>
  <main>

    <h1> <%- pagetext %> </h1>
    <p> username </p>
    <p> password </p>
    <img src="" alt="image">

  </main>
  <%- include ('../main/footer'); %>
</body>

</html>
