<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title><%- title %></title>
</head>

<body class="login">
  <%- include ('../main/header'); %>

  <main>
    <form class="" action="/login" method="post">
      Username: <input type="text" name="username" placeholder="Username">
      <br><br>
      Password: <input type="password" name="password" placeholder="Password" style="margin-bottom: 3%;">
      <br><br>
      <input type="submit" name="submit" value="Submit" style="margin-top: 3%;">
    </form>

  </main>
  <%- include ('../main/footer'); %>
</body>

</html>
