<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title><%- title %></title>
</head>

<body>
  <%- include ('../main/header'); %>

  <main>

    <h1> <%- pagetext %> </h1>

    <form class="" action="/register" method="post">
      Username: <input type="text" name="usertest" value="">
      <br>
      Password: <input type="password" name="passtest" value="">
      <br>
      <div class="radiobuttons">
        <label class="pickercontainer">
          <input type="radio" name="image" value="img/Archdeacon-royce.jpg" checked>
          <span class="checkmark" id="img1"></span>
        </label>

        <label class="pickercontainer">
          <input type="radio" name="image" value="img/maxresdefault.jpg">
          <span class="checkmark" id="img2"></span>
        </label>

        <label class="pickercontainer">
          <input type="radio" name="image" value="img/images.png">
          <span class="checkmark" id="img3"></span>
        </label>
      </div>
      <br>
      <input type="submit" name="submittest" value="Submit">
    </form>

  </main>

  <%- include ('../main/footer'); %>
</body>

</html>
